li {
  list-style-type: none;
}
body {
  font: 24px Helvetica;
  background: #391a4c;
}
#main {
  min-height: 450px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: row;
}
article {
  margin: 0px;
  padding: 30px;
  border: 2px solid #000;
  background: #dd8;
  flex: 3 1 60%;
  order: 2;
}
nav,
aside {
  margin: 0px;
  padding: 30px;
  border: 2px solid #000;
  background: #5fcebd;
  flex: 1 6 20%;
}
nav {
  order: 1;
  text-align: right;
}
aside {
  font-style: italic;
  order: 3;
}
h1,
footer {
  display: block;
  margin: 0px;
  padding: 30px;
  min-height: 60px;
  border: 2px solid #000;
  background: #f2c248;
}
footer {
  font-size: 10px;
/* If the window is too narrow to support three columns */
}
@media all and (max-width: 640px) {
  #main,
  #page {
    flex-direction: column;
  }
  #main {
    min-height: 0px;
  }
  nav {
    text-align: left;
  }
  article,
  nav,
  aside {
/* Return them to document order */
    order: 0;
  }
  article {
    max-height: 200px;
  }
  nav,
  aside,
  header,
  footer {
    min-height: 30px;
    max-height: 75px;
  }
}
