p { color: skyblue; }
p:before{ content: url("Yellow-pin.png"); }
strong { color: red; font: 200% serif; background-color: #ddf; }
.carrot { color: orange; }
.spinach { color: green; }
#first { color: darkslateblue; font-style: italic; }
body {
  font: 16px monospace, cursive;
  background: url("Blue-rule.png");
  counter-reset: headnum;
}
ol.info {list-style: none;}
ol.little {list-style: lower-roman inside;}
ol { border: 10px solid lightblue; padding-right:1em;}
li.paren:before {
  content: "(" counter(headnum, upper-latin) ") ";
  counter-increment: headnum;
}
div {width: 300px;}
li { margin-bottom: 8px; }
#fixed-pin { position:fixed; top: 3px; right: 3px; }
#demo-table {
  font: 100% sans-serif;
  background-color: #efe;
  border-collapse: collapse;
  empty-cells: show;
  border: 1px solid #7a7;
}
#demo-table > caption {
  caption-side: bottom;
  font-style: italic;
  text-align: right;
  border-top: .2em solid #4ca;
  margin-top: .5em;
}
/* basic shared rules */
#demo-table th,
#demo-table td { text-align: right; padding-right: .5em; }
#demo-table th { font-weight: bold; padding-left: .5em; }
/* header */
#demo-table > thead > tr:first-child > th { text-align: center; color: blue; }
#demo-table > thead > tr + tr > th { font-style: italic; color: gray; }
/* fix size of superscript */
#demo-table sup { font-size: 75%; }
/* body */
#demo-table td { background-color: #cef; padding:.5em .5em .5em 3em; }
#demo-table tbody th:after { content: ":"; }
/* footer */
#demo-table tfoot { font-weight: bold; }
#demo-table tfoot th { color: blue; }
#demo-table tfoot th:after { content: ":"; }
#demo-table > tfoot td { background-color: #cee;}
#demo-table > tfoot > tr:first-child td { border-top: .2em solid #7a7; }
